[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apache-airflow = "*"
pandas = "*"
numpy = "*"
requests = "*"
boto3 = "*"

[dev-packages]
black = "==22.3.0"
pytest = "*"
moto = "*"

[requires]
python_version = "3.9"
