[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apache-airflow = "*"
pandas = "*"
numpy = "*"
requests = "*"
boto3 = "*"
apache-airflow-providers-amazon = "*"

[dev-packages]
black = "*"
pytest = "*"
moto = "*"
ipykernel = "*"

[requires]
python_version = "3.10"
