apache-airflow-providers-amazon==8.5.1
apache-airflow-providers-discord==3.3.0
apache-airflow-providers-google==10.6.0
apache-airflow-providers-slack==8.0.0
awswrangler==3.3.0
moto==4.2.0
pandas==2.0.3
